In [1]:
import pandas as pd

In [2]:
csv_path = "file/gemini_BTCUSD_2015_1min.csv"
df = pd.read_csv(csv_path, parse_dates=['Date'])
df = df.sort_values('Date')

In [3]:
print(df)

        Unix Timestamp                Date  Symbol    Open    High     Low  \
121579      1444311600 2015-10-08 13:40:00  BTCUSD    0.00  242.50    0.00
121578      1444311660 2015-10-08 13:41:00  BTCUSD  242.50  242.95  242.50
121577      1444311720 2015-10-08 13:42:00  BTCUSD  242.95  242.95  242.95
121576      1444311780 2015-10-08 13:43:00  BTCUSD  242.95  242.96  242.95
121575      1444311840 2015-10-08 13:44:00  BTCUSD  242.96  242.96  242.96
...                ...                 ...     ...     ...     ...     ...
4           1451606100 2015-12-31 23:55:00  BTCUSD  429.95  429.95  429.95
3           1451606160 2015-12-31 23:56:00  BTCUSD  429.95  429.95  429.95
2           1451606220 2015-12-31 23:57:00  BTCUSD  429.95  429.95  429.95
1           1451606280 2015-12-31 23:58:00  BTCUSD  429.95  429.95  429.95
0           1451606340 2015-12-31 23:59:00  BTCUSD  429.95  429.95  429.95

         Close    Volume
121579  242.50  0.050000
121578  242.95  0.001000
121577  242.95  0.000000
121576  242.96  0.010000
121575  242.96  0.033491
...        ...       ...
4       429.95  0.000000
3       429.95  0.000000
2       429.95  0.000000
1       429.95  0.000000
0       429.95  0.000000

[121580 rows x 8 columns]