In [8]:
import pandas as pd

In [34]:
ori_df = pd.read_csv("./gemini_BTCUSD_2015_1min.csv")
for item in range(2016,2022):
    df = pd.read_csv(f"./gemini_BTCUSD_{item}_1min.csv")
    new_df = pd.concat([ori_df,df])
    ori_df = new_df

In [39]:
ori_df.rename({"Unix Timestamp":"Timestamp"}, axis=1, inplace = True)

In [40]:
combine_df = ori_df

In [42]:
combine_df.drop_duplicates(subset=["Timestamp"], keep='first',inplace=True)

In [43]:
combine_df

,Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1451606340,2015-12-31 23:59:00,BTCUSD,429.95,429.95,429.95,429.95,0.000000
1,1451606280,2015-12-31 23:58:00,BTCUSD,429.95,429.95,429.95,429.95,0.000000
2,1451606220,2015-12-31 23:57:00,BTCUSD,429.95,429.95,429.95,429.95,0.000000
3,1451606160,2015-12-31 23:56:00,BTCUSD,429.95,429.95,429.95,429.95,0.000000
4,1451606100,2015-12-31 23:55:00,BTCUSD,429.95,429.95,429.95,429.95,0.000000
...,...,...,...,...,...,...,...,...
401636,1609459440000,2021-01-01 00:04:00,BTCUSD,29056.21,29056.21,29046.04,29048.46,0.032502
401637,1609459380000,2021-01-01 00:03:00,BTCUSD,29057.27,29057.27,29028.69,29056.21,0.049909
401638,1609459320000,2021-01-01 00:02:00,BTCUSD,29085.38,29086.14,29043.25,29057.27,5.075271
401639,1609459260000,2021-01-01 00:01:00,BTCUSD,29033.01,29086.14,29033.01,29085.38,1.451389
401640,1609459200000,2021-01-01 00:00:00,BTCUSD,28979.74,29033.01,28956.18,29033.01,0.126441