# Predicting BitCoin prices

In [1]:
# Import the libraries
import numpy as np
import pandas as pd

In [4]:
# 1. Get historic stock prices
data = pd.read_csv("/Users/karenzhang/Documents/DS_Project/datascience-ca1/Cryptocurrency/file/gemini_BTCUSD_2015_1min.csv")

In [5]:
data.head(7)

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1451606340,2015-12-31 23:59:00,BTCUSD,429.95,429.95,429.95,429.95,0.000
1,1451606280,2015-12-31 23:58:00,BTCUSD,429.95,429.95,429.95,429.95,0.000
2,1451606220,2015-12-31 23:57:00,BTCUSD,429.95,429.95,429.95,429.95,0.000
3,1451606160,2015-12-31 23:56:00,BTCUSD,429.95,429.95,429.95,429.95,0.000
4,1451606100,2015-12-31 23:55:00,BTCUSD,429.95,429.95,429.95,429.95,0.000
5,1451606040,2015-12-31 23:54:00,BTCUSD,432.01,432.01,429.95,429.95,0.137
6,1451605980,2015-12-31 23:53:00,BTCUSD,432.01,432.01,432.01,432.01,0.000

In [7]:
data.drop(['Date'], 1, inplace=True)

/var/folders/vg/g5plvkb95md1461h4qh30d200000gn/T/ipykernel_30116/468800241.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop(['Date'], 1, inplace=True)

In [8]:
data.head(7)

   Unix Timestamp  Symbol    Open    High     Low   Close  Volume
0      1451606340  BTCUSD  429.95  429.95  429.95  429.95   0.000
1      1451606280  BTCUSD  429.95  429.95  429.95  429.95   0.000
2      1451606220  BTCUSD  429.95  429.95  429.95  429.95   0.000
3      1451606160  BTCUSD  429.95  429.95  429.95  429.95   0.000
4      1451606100  BTCUSD  429.95  429.95  429.95  429.95   0.000
5      1451606040  BTCUSD  432.01  432.01  429.95  429.95   0.137
6      1451605980  BTCUSD  432.01  432.01  432.01  432.01   0.000

In [9]:
# a variable for predicting 'n' days out into the future
prediction_days = 90 #n = prediction_days

# create another column shifted 'n' units up
data['Prediction'] = data[['Close']].shift(-prediction_days)

In [10]:
# show first 7 rows of the new dataset
data.head(7)

   Unix Timestamp  Symbol    Open    High     Low   Close  Volume  Prediction
0      1451606340  BTCUSD  429.95  429.95  429.95  429.95   0.000       433.5
1      1451606280  BTCUSD  429.95  429.95  429.95  429.95   0.000       433.5
2      1451606220  BTCUSD  429.95  429.95  429.95  429.95   0.000       433.5
3      1451606160  BTCUSD  429.95  429.95  429.95  429.95   0.000       433.5
4      1451606100  BTCUSD  429.95  429.95  429.95  429.95   0.000       433.5
5      1451606040  BTCUSD  432.01  432.01  429.95  429.95   0.137       433.5
6      1451605980  BTCUSD  432.01  432.01  432.01  432.01   0.000       433.5

In [11]:
# show last 7 rows of the new dataset
data.tail(7)

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume,Prediction
121573,1444311960,BTCUSD,242.96,242.96,242.96,242.96,0.004000,NaN
121574,1444311900,BTCUSD,242.96,242.96,242.96,242.96,0.000000,NaN
121575,1444311840,BTCUSD,242.96,242.96,242.96,242.96,0.033491,NaN
121576,1444311780,BTCUSD,242.95,242.96,242.95,242.96,0.010000,NaN
121577,1444311720,BTCUSD,242.95,242.95,242.95,242.95,0.000000,NaN
121578,1444311660,BTCUSD,242.50,242.95,242.50,242.95,0.001000,NaN
121579,1444311600,BTCUSD,0.00,242.50,0.00,242.50,0.050000,NaN

In [12]:
# create the independent dataset

# convert to np dataframe to a numpy array and drop the prediction column
X = np.array(data['Close'])

# Remove the last 'n' rows where 'n' is the prediction_days
X = X[:len(data)-prediction_days]
print(X)

[429.95 429.95 429.95 ... 245.   245.   245.  ]

In [13]:
# Create the dependent dataset

# Convert the data frame to a numpy array
y = np.array(data['Prediction'])

# Get all of the values except the last 'n' rows
y = y[:-prediction_days]
print(y)

[433.5  433.5  433.5  ... 242.95 242.95 242.5 ]

In [14]:
# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

ModuleNotFoundError: No module named 'sklearn'

In [15]:
# Set the prediction_days_array equal to the last 90 rows from the original dataset
prediction_days_array = np.array(data['Close'])[-prediction_days:]
print(prediction_days_array)

[245.   245.   245.   245.   245.   245.   245.   245.   245.   245.
 245.   245.   245.   245.   245.   245.   245.   245.   245.   245.
 245.   245.   245.   245.   245.   245.   245.   244.95 244.95 244.95
 244.95 244.95 244.95 244.95 244.95 244.95 244.95 244.95 244.95 244.95
 244.95 244.95 244.95 244.95 244.9  244.9  244.5  244.5  244.9  244.9
 244.9  244.5  244.5  244.5  244.5  244.5  244.5  244.5  244.5  244.5
 244.5  244.5  244.5  244.5  244.5  244.5  244.5  244.5  245.   245.
 245.   245.   245.   245.   245.   245.   245.   245.   245.   245.
 243.   242.96 242.96 242.96 242.96 242.96 242.96 242.95 242.95 242.5 ]

In [16]:
from sklearn.svm import SVR

# Create and train the support vector machine (Regression) using radial basis function
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

ModuleNotFoundError: No module named 'sklearn'